{% if bundleExists('LexikFormFilterBundle') %}
{% extends '@LexikFormFilter/Form/form_div_layout.html.twig' %}
{% endif %}

{% block form_row %}
    <div class="form-group">
        <div class="col-md-3">
            {{ form_label(form) }}
        </div>
        <div class="col-md-9">
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}
