label.required:after {
    content: " *";
    color: #d15b47;
}

.radio > label.required:after {
    content: "";
    color: #d15b47;
}

.checkbox > label.required:after {
    content: "";
    color: #d15b47;
}

/* Errors */
div.has-error {
    background: #f2dede;
    color: #a94442;
    border: 1px solid #a94442;
    padding: 0 5px;
}

div.has-error label:before {
    font-family: FontAwesome;
    content: "ï±";
    color: #d15b47;
    padding-right: 5px;
    font-size: 120%;
    width: 3px;
    text-align: center;
}

/* File Upload */
.nsFileUpload {
    position: relative;
}

.nsFileUpload .ace-file-input {
    margin-bottom: 0;
}

div.nsUploader {
    position: relative;
    z-index: 10;
}

div.nsUploader .uploader {
    margin: 0 !important;
}

div.nsUploader input {
    width: 100%;
    padding: 0.5em 0;
    opacity: 0;
}

.nsFileUpload .ace-file-input {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9;
}

div.nsUploader:hover + .ace-file-input label {
    border-color: #f59942;}

div.uploader div.controls span.uploader-file-name {
    color: #666666;
    display: block;
    height: auto;
    max-width: 100%;
    padding: 0;
    position: relative;
    text-align: left;
    width: auto;
    font-size: 13px;
    line-height: 28px;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
}

div.uploader div.controls span.uploader-file-name i.icon-file {
    line-height: 24px;
    margin-left: 2px;
    margin-right: 4px;
    position: relative;
    border: 2px solid #FFFFFF;
    bottom: 0;
    color: #FFFFFF;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 13px;
    left: 0;
    text-align: center;
    top: 0;
    transition: all 0.1s ease 0s;
    width: 26px;
    background-color: #EFAD62;
    height: auto;
}

ul.token-input-list {
    border: 1px solid #D5D5D5;
}

ul.token-input-list li {
    float: left;
}

li.token-input-token {
    color: #ffffff;
    background: #91B8D0;
    font-weight: normal;
    float: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    vertical-align: baseline;
    font-size: 13px;
}

li.token-input-token p {
    line-height: 20px;
}

li.token-input-input-token {
    float: none;
    clear: both;
}

li.token-input-token span.token-input-delete-token {
    color: #ffffff;
    font-size: 15px;
    padding-left: 0.5em;
    line-height: 20px;
}

div.token-input-dropdown p {
    font-weight: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #2283C5;
    color: #ffffff;
}

.widget-toolbar .dataTables_paginate .pagination {
    vertical-align: middle
}

legend.btn {
    width: auto;
}

.btn-lighter {
    opacity: 0.8;
}

.widget-toolbar > .nav-tabs {
    top: 3px !important;
}

.widget-toolbar > .nav-tabs > li:not(.active) > a {
    background-color: #eeeeee !important;
    color: #555555 !important;
}

div.input-datetime-group {
    float: left;
    width: 50%;
    padding-right: 12px;
}

div.datepicker-dropdown {
    z-index: 1050 !important;
}

.form-group:after {
    content: " ";
    clear: both;
    display: block;
}

label {
    display: block;
}

.input-group-addon {
    cursor: pointer;
}

.input-group input[type=checkbox] {
    clear: left;
    float: left;
    margin-left: 1em;
    margin-right: 0.5em;
}

.input-group input[type=checkbox]+label {
    float: left;
}

.sonata-filter-form .control-label {
    text-align: left;
}

.sonata-filter-form .input-group {
    border-bottom: 1px solid #eeeeee;
    width: 100%;
}

.sonata-filter-form .sonata-filter-option {
    background: #ffffbb;
    padding: 0.5em;
    margin: 0 0 0.5em 0;
    float: left;
}

.sonata-filter-form .sonata-filter-value {
    float: left;
    margin: 0.5em 0;
}

.entity-create ul.token-input-list {
    font-size: 14px;
    display: table-cell;
}

.entity-create ul.token-input-list li input {
    padding: 5px 4px 6px;
}

.form-group .help-block.inline {
    margin-left: 10px;
}

.modal-dialog.modal-12 {
    width: 100%;
}

.modal-dialog.modal-11 {
    width: 91.666%;
}

.modal-dialog.modal-10 {
    width: 83.334%;
}

.modal-dialog.modal-9 {
    width: 75%;
}

.modal-dialog.modal-8 {
    width: 66.668%;
}

.modal-dialog.modal-7 {
    width: 58.335%;
}

.modal-dialog.modal-6 {
    width: 50%;
}

.modal-dialog.modal-5 {
    width: 41.669%;
}

.modal-dialog.modal-4 {
    width: 33.336%;
}

.modal-dialog.modal-3 {
    width: 25%;
}

.modal-dialog.modal-2 {
    width: 16.667%;
}

.modal-dialog.modal-1 {
    width: 8.337%;
}